div.container {
    position:relative;
    text-align:left;
    width:100%;
}

div.title {
    margin:2px;
}

div.left-hand {
    background:none repeat scroll 0 0 #ECB9E8;
    float:left;
    left:-10px;
    margin:0 0 -10px;
    padding:10px;
    position:relative;
    top:-10px;
    voice-family:inherit;
    width:200px;
    z-index:100;
}

div.shoppingCart {
    background:none repeat scroll 0 0 #D7C4FA;
    float:right;
    margin:0 0 -10px;
    padding:10px;
    position:relative;
    right:-10px;
    top:-10px;
    voice-family:inherit;
    width:200px;
    z-index:99;
}

div.centre {
    padding:0 240px;
    position:relative;
}

div.criteria {
    background:lightgray;
}

table {
    width:100%;
}

table tr {
    border-top: lightgray 1px solid;
    border-bottom: lightgray 1px solid;
}

tr.even {
    background: lightgray;
}

td.image {
    width:100px;
}

td.name {
    vertical-align:text-top;
    padding-left: 5px;
}

td.price {
    width:80px;
    text-align:center;
}

td.buy {
    width:80px;
    text-align:center;
}

