body {
    height:100%;
    /*background:none repeat-y scroll 0 0 #675c47;*/
    background:none repeat-y scroll 0 0 #77aa77;
    font-family:Verdana, Arial, Sans-serif;
}

div.container {
    height:auto;
    width:100%;
    float:left;
}

div.title {
    background: url(../images/bookworm.jpg) no-repeat #fff;
    margin:           10px;
    height:           100px;
}

div.title h1 {
    display:block;
    padding:30px 0 0 130px;
}

div.centre-content {
    margin:20px 10px 0 10px;
}

div.menu {
    background:none repeat scroll 0 0 #fff;
    float:left;
    position:relative;
    width:10%;
    height:500px;
    overflow:visible;
}

div.menu a {
    text-decoration:none;
    font-size: 20px;
    margin-left:15px;
}

div#right-two-thirds {
    float:right;
    width:89%;
}

div.centre {
    width:77%;
    background:none repeat scroll 0 0 #fff;
    float:left;
    position:relative;
    margin-left:10px;
    margin-right:10px; 
}

div.criteria {
    background:none repeat scroll 0 0 #fff;
}

div.shoppingCart {
    background:none repeat scroll 0 0 #fff;
    float:right;
    position:relative;
    width:20%;
    height:500px;
}

div.menu a {
    padding: 2px;
    font:serif bold;
}

div.shoppingCart h3 {
    padding:2px;
}